$light-grey: #F3F2ED;
$grey-red: #F6F0E0;
$black: black;
$dark-red-grey: #CCC8B3;
$dark-grey: #BFBD93;
// registration
$light-fon: rgba(255, 255, 255, 0.432);
$purple: #341b51d5;
$dark-purple: #341b51;
$red: rgb(222, 3, 3);